body{
    background: linear-gradient(skyblue,white);
}


.container{
    border: 1px solid black;
    width:95%;
    height: 100vh;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    border: 5px solid rgb(244, 11, 11);
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}