.container{
    border : 2px solid black;
    background : linear-gradient(skyblue,white);
    width :500px;
    height : 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.realbox{
    border: 2px solid black;
}

.button{
    height: 120px;
    width : 120px;
    background: light yellowgreen;
    font-size: 64px;
}